{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/student">Student</a>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">Your Full Name</h1>
    </div>
    <div class="container">
        <%- body %>
    </div>
    <footer class="footer">
        <p>Student Number: 123456789</p>
    </footer>
</body> --}}

<h1>Home</h1>