{{!-- <!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Your Full Name</h1>
    </div>
    <nav class="navbar">
      <a class="brand" href="#">Home</a>
      <button>
        <span class="icon"></span>
      </button>
      <div>
        <ul>
          <li class= "active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="item">
            <a class="nav-link" href="#">Student</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Your Student Number Here</p>
    </div>
  </footer>
</body>
</html> --}}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- body %>
</body>
</html>
