<!-- views/header.ejs -->
<header>
    <nav style="display: inline;">
        <a href="/">Home</a> | 
        <a href="/deer">Deer</a> | 
        <a href="/dog">Dog</a> | 
        <a href="/elephant">Elephant</a> | 
        <a href="/lion">Lion</a>
    </nav>
</header>
