
<head>

    <title><%= title %></title>
    
</head>
<body>
    <!-- Shared Header -->
    <%- include('header') %>
    <h2>This is not a site.It's just an example. Where we can connect some pages through Nav Buttons </h2>

    <%- include('footer') %>